@model StoreDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Store!.Name} | Đặt Món & Giao ship tận nơi | ShopeeFood.vn";
    var store = Model.Store;
    var products = Model.Products;
    var totalRateCount = products.Sum(p => p.RateCount);
    var startHtml = Model.StarHtml;
    var menuItems = Model.MenuItems;
    var currentTime = TimeOnly.FromDateTime(DateTime.Now);
    var address = $"Số {store!.StreetName}, {store.Ward!.FullName}, {store.Ward.District!.FullName}, {store.Ward.District.Province!.Name}";
    var isStoreOpened = currentTime >= store.OpeningHour && currentTime <= store.ClosingHour;
    var customerId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<div class="store-details-main-section">
    <div class="store-details-info-section container-fluid row">
        <div class="store-details-cover-img d-flex col">
            <img
                class="ms-auto"
                alt=""
                src="@Url.Content($"~/images{store.CoverImagePath}")"
                onerror="
                    this.onerror = null; 
                    this.src = '/images/stores/default-store-cover-img.jpg'"/>
        </div>
        <div class="col">
            <div class="store-details-info border-bottom">
                <h1 class="mb-2">@store.Name</h1>
                <div class="store-details-address mb-1">@address</div>
                <div class="store-details-rating d-flex align-items-center gap-1 mb-1">
                    @Html.Raw(startHtml)
                    <span class="number-rating">@(totalRateCount > 999 ? "999+" : totalRateCount)</span>
                    đánh giá trên <span style="color: var(--primary-color)"><b> ShopeeFood</b></span>
                </div>
                <div class="store-details-status d-flex align-items-center gap-3 mb-1">
                    <div class="opentime-status d-flex align-items-center gap-1">
                        <span class="status @(isStoreOpened ? "online" : "offline")"></span>
                        <span class="online-title">@(isStoreOpened ? "Mở cửa" : "Đóng cửa")</span>
                    </div>
                    <div class="time">
                        <i class="bi bi-clock"></i>
                        @store.OpeningHour - @store.ClosingHour
                    </div>
                </div>
                <div class="store-details-cost">
                    <i class="bi bi-coin"></i>
                    @products.Min(p => p.Price).ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")đ - @products.Max(p => p.Price).ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")đ
                </div>
            </div>
            <div class="shopeefood-signature d-flex align-items-center gap-5">
                <div>
                    <div class="text-uppercase">Phí dịch vụ</div>
                    <div>
                        <span style="color: var(--primary-color)">0.0% Phí dịch vụ</span>
                    </div>
                    <img class="" alt="" src="~/images/partner-vi.png"/>
                </div>
                <div class="border-start ps-3">
                    <div class="text-uppercase">Dịch vụ bởi</div>
                    <div>
                        <span style="color: var(--primary-color)">ShopeeFood</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="store-details-products-section">
        <div class="menu">
            <h3 class="text-uppercase mb-4">Thực đơn</h3>
            
            @foreach (var item in menuItems)
            {
                <div class="item text-uppercase mb-1"><a href="@($"#{item.Id}")">@item.Title</a></div>
            }
        </div>
        <div class="products-list">
            <div class="product-search">
                <form class="d-flex mb-5" role="search">
                    <input class="form-control" type="search" placeholder="Tìm món" aria-label="Tìm món"/>
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            
            @foreach (var item in menuItems)
            {
                <div class="menu-title text-uppercase my-3" id="@item.Id"><span>@item.Title</span></div>
                
                @foreach (var product in products.Where(p => p.Menus.Any(i => i.Id == item.Id)))
                {
                    <div class="product-item row ms-1">
                        <a class="row col-auto" asp-controller="Product" asp-action="Details" asp-route-productId="@product.Id">
                            <div class="col-auto product-img">
                                <img class="" 
                                     alt="@product.Name" 
                                     src="@Url.Content($"~/images{product.CoverImagePath}")"
                                     onerror="
                                        this.onerror = null;
                                        this.src = '/images/stores/product-img.png'"/>
                            </div>
                            <div class="col-8 product-info">
                                <h2 class="name">@product.Name</h2>
                                <div class="description">@product.Description</div>
                            </div>
                            <div class="col-auto product-more ms-auto me-3">
                                <div class="row">
                                    <div class="price col-auto">
                                        @if (product.Discount > 0)
                                        {
                                            <div class="old-price">
                                                @product.Price.ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")
                                                <span>đ</span>
                                            </div>
                                            <div class="actual-price">
                                                @((product.Price - product.Discount).ToString("N0", CultureInfo.InvariantCulture).Replace(",", "."))
                                                <span>đ</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="actual-price">
                                                @product.Price.ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")
                                                <span>đ</span>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                        <button type="button" class="btn btn-orange d-flex align-items-center col-auto ms-auto me-4" customerId="@(customerId ?? String.Empty)" productId="@product.Id" quantity="1" onclick="checkUserIsAuthenticated(this, '@(customerId ?? String.Empty)')">+</button>
                    </div>
                }
            }
        </div>
        <div></div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/store-details.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
