@model CartViewModel
@{
    ViewData["Title"] = $"{User.Identity!.Name}'s Cart | Food Delivery & Shipping Service | ShopeeFood.vn";

    var cartHeader = Model.Cart!.CartHeader;
    var cartItems = Model.Cart!.CartItems;
    var store = Model.Store;
    string? address = $"Số {store!.StreetName}, {store.Ward!.FullName}, {store.Ward.District!.FullName}, {store.Ward.District.Province!.Name}";
}

<div class="cart-main-section">
    <a asp-controller="Store" asp-action="Details" asp-route-storeId="@store.Id" class="store row">
        <div class="img col-auto">
            <img
                class="ms-auto"
                alt=""
                src="@Url.Content($"~/images{store.CoverImagePath}")"
                onerror="
                    this.onerror = null; 
                    this.src = '/images/stores/default-store-cover-img.jpg'"/>
        </div>
        <div class="basic-info col">
            <h4>
                <img class="" alt="" src="/images/partner2x.png"
                     title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood">
                @store.Name
            </h4>
            <p>@address</p>
        </div>
    </a>

    <div class="cart-products-list ms-4">
        @foreach (var item in cartItems)
        {
            <div class="row" cart-item-id="@item.Id">
                <a class="item row ms-3 col">
                    <div class="img col-auto">
                        <img class=""
                             alt="@item.Product!.Name"
                             src="@Url.Content($"~/images{item.Product.CoverImagePath}")"
                             onerror="
                                        this.onerror = null;
                                        this.src = '/images/stores/product-img.png'"/>
                    </div>
                    <div class="info col">
                        <h4 class="name">@item.Product.Name</h4>
                        <div class="description">@item.Product.Description</div>
                    </div>
                    <div class="price col-auto mt-2">
                        @if (item.Product.Discount > 0)
                        {
                            <div class="old-price">
                                @item.Product.Price.ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")
                                <span>đ</span>
                            </div>
                            <div class="actual-price">
                                @((item.Product.Price - item.Product.Discount).ToString("N0", CultureInfo.InvariantCulture).Replace(",", "."))
                                <span>đ</span>
                            </div>
                        }
                        else
                        {
                            <div class="actual-price">
                                @item.Product.Price.ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")
                                <span>đ</span>
                            </div>
                        }
                    </div>
                </a>
                <div class="button-section d-flex justify-content-end col-auto row mt-3 me-2">
                    <a class="btn btn-danger d-flex align-items-center justify-content-center col-auto cart-item-increase"
                       item-id="@item.Id" customerId="@cartHeader!.CustomerId" productId="@item.ProductId" quantity="-1"
                       onclick="updateCartItemQuantity(this)">-</a>
                    <div class="col-auto" id="@item.Id" productId="@item.ProductId" customerId="@cartHeader!.CustomerId">@item.Quantity</div>
                    <a class="btn btn-danger d-flex align-items-center justify-content-center col-auto cart-item-decrease"
                       item-id="@item.Id" customerId="@cartHeader.CustomerId" productId="@item.ProductId" quantity="1"
                       onclick="updateCartItemQuantity(this)">+</a>
                </div>
            </div>
        }
    </div>

    <div class="checkout-section row d-flex justify-content-end mt-4 me-0">
        <div class="total-price col-auto d-flex align-items-center justify-content-center">Thành tiền:
            <span class="ms-1">@cartHeader!.TotalPrice.ToString("N0", CultureInfo.InvariantCulture).Replace(",", ".")đ</span>
        </div>
        <button type="button" class="btn btn-outline-orange col-auto d-flex align-items-center justify-content-center"
                onclick="proceedToOrderInit('@cartHeader.CustomerId')">Khởi tạo đơn hàng
        </button>
    </div>
</div>

@section Scripts
{
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
